<template name="home">
	{{> itemSearch}}
	{{> itemDetails}}
</template>

<template name="itemSearch">
	<div class="row searchRow">
		<div class=" col-md-6 col-md-offset-3 center coloredBackground">
			<h1 class="center white ">Wnt to recycle wut?</h1>
			<form class="form-inline">
				<div class="form-group center">
						{{> esInput index="wasteitems" class="form-control searchbar input-lg" placeholder="Search..." }}
						<!-- <button class="btn btn-info btn-lg" id="button">Search</button> -->
				</div>
			</form>	
		</div>
	</div>
	{{#ifEsInputIsEmpty index="wasteitems"}}
	<!-- Content for goes here for when search bar is empty -->
	{{else}}
	<div class="row resultsRow" id="resultsRow">
		<div class="col-md-6 col-md-offset-3 coloredBackground">
			<h3>Your item's name</h3>
			<div class="table-responsive">
					<table class="table table-striped">
						<tr>
							<th><h4>Item Name</h4></th>
							<th><h4>Collection Type</h4></th>
						</tr>
						{{#esEach index="wasteitems" }}
						<tr id="item">
							<td>{{item_name}}</td>
							<td>{{binName collection_code}}</td>
						</tr>	
						{{/esEach}}
					</table>
			</div>
			{{#ifEsHasNoResults index="wasteitems"}}
	      <div class="no-results">No results found!</div>
	    {{/ifEsHasNoResults}}

	    {{#ifEsIsSearching index="wasteitems"}}
	       <div>Loading...</div>
	    {{/ifEsIsSearching}}
		</div>
	</div>
	{{/ifEsInputIsEmpty}}
</template>

<template name="itemDetails">
	<div id="current-item-details" class="">
		<!-- Some table or something -->
		{{currentItemName}},{{currentItemBin}}, {{currentItemNotes}}, {{iconHTML}}
	</div>
</template>
