.form-title {
	text-align: center;
	text-transform: uppercase;
}

.logout-btn {
	position: absolute;
	top: 31px;
	right: 0px;
}

.center {
	text-align: center;
}
.remove-item {
	width: 100%;
}

.at-form {
	text-align: center;
	width: 50%;
}

form {
	margin-top: 30px !important;
}

.at-form {
	width: 90%;
}


/*Mobile Devices*/
@media screen and (max-width: 768px) {
	.admin-panel {
		padding: 0 40px 0 40px;
	}
}